@charset "UTF-8";
.btn {
  color: #ebe7e7;
  border-radius: 0;
  font-size: 16px;
  padding: 8px 20px;
  transition: all 0.2s linear;
  border: none;
  cursor: pointer;
  text-align: center;
}
.btn.btn-primary {
  background-color: #E50913;
  border: 1px solid #E50913;
}
.btn.btn-primary:hover {
  background-color: transparent;
  border: 1px solid #ebe7e7;
}
.btn.btn-outline {
  background-color: transparent;
  border: 1px solid transparent;
}
.btn.btn-outline:hover {
  border: 1px solid #ebe7e7;
}
.btn.btn-white {
  background-color: #ebe7e7;
  border: 1px solid #ebe7e7;
  color: #000;
}
.btn.btn-white:hover {
  filter: brightness(87%);
}

@media screen and (max-width: 768px) {
  .btn {
    font-size: 14px;
    padding: 5px 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #000;
  color: #ebe7e7;
}

a {
  text-decoration: none;
}

.c-gray {
  color: rgba(193, 167, 167, 0.8509803922);
}

.t-lg {
  font-size: 20px;
}

p {
  margin-bottom: 5px;
  line-height: 1.7;
}

h1 {
  font-size: 3rem;
  color: #E50913;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

h2 {
  font-size: 2.3rem;
  font-weight: bold;
}

.form-control {
  width: 100%;
  height: 40px;
  font-size: 1rem;
  padding: 5px;
  margin-bottom: 20px;
  color: white;
  background-color: #4d4a4a;
  border: none;
  margin-bottom: 15px;
  padding: 0 10px;
}
.form-control:focus {
  outline: none;
  border: one;
}

.custom-checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}
.custom-checkbox .checkbox {
  display: inline-block;
  width: 18px;
  height: 18px;
  border: none;
  background-color: #ebe7e7;
  margin-right: 8px;
  position: relative;
}
.custom-checkbox .checkbox::before {
  content: "✓"; /* Unicode check mark character */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  opacity: 0;
}
.custom-checkbox input[type=checkbox] {
  display: none;
}
.custom-checkbox input[type=checkbox]:checked + .checkbox {
  background-color: #E50913;
  border: none;
}
.custom-checkbox input[type=checkbox]:checked + .checkbox::before {
  opacity: 1;
}

.info-error {
  padding: 10px;
  margin-top: 15px;
  background-color: rgba(185, 47, 53, 0.431372549);
  margin-bottom: 15px;
}

.wrapper-info {
  position: absolute;
  top: 159px;
  margin: 0 2%;
}
.wrapper-info .i-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}
.wrapper-info .i-flex .img {
  width: 100%;
  height: 100%;
  flex: 1;
}
.wrapper-info .i-flex .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper-info .i-flex .info {
  flex: 1;
}

.i-videos {
  margin-top: 40px;
}
.i-videos .g-videos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(470px, 1fr));
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 30px;
  grid-auto-rows: 315px;
}
.i-videos .g-videos > div {
  width: 100%;
}
.i-videos .g-videos iframe {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  .i-videos {
    margin-top: 20px;
  }
  .i-videos .g-videos {
    margin-top: 10px;
  }
  .wrapper-info .i-flex {
    column-gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  h1 {
    font-size: 1.7rem;
  }
  h2 {
    font-size: 1.4rem;
  }
  p {
    font-size: 0.75rem;
  }
  .t-lg {
    font-size: 16px;
  }
  .wrapper-info {
    top: 73px;
  }
  .wrapper-info .i-flex {
    column-gap: 0;
    flex-direction: column;
    row-gap: 20px;
  }
  .i-videos .g-videos {
    column-gap: 20px;
    row-gap: 20px;
  }
}
@media screen and (max-width: 576px) {
  .i-videos .g-videos {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-auto-rows: 215px;
  }
}/*# sourceMappingURL=app.css.map */