@import './variables';
@import './buttons';

.sign {
	width: 100%;
	height: 100vh;
    position: relative;
	.img {
		width: 100%;
		height: 100%;
		position: relative;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		.bg-img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
            background: rgb(0,0,0);
            background: linear-gradient(180deg, rgba(0,0,0,0.9093838218881303) 0%, rgba(255,255,255,0) 100%); 
		}
	}
}

.wrapper-form {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: rgba(0, 0, 0, 0.73);
    display: flex;
	justify-content: center;
	align-items: center;
    width: 30vw;
	height: 50vh;
    .box-form {
        width: 70%;
    }
    h1 {
        color: $c-white;
        margin-bottom: 26px;
        text-transform: none;
        cursor: default;
    }
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        .btn-primary{ 
            margin-top: 15px;
            font-size: 20px;
        }
        .detail {
			margin-top: 35px;
			.info {
				display: flex;
				align-items: center;
				justify-content: space-between;
                color: #b3a8a8;
                font-size: 14px;
                margin-bottom: 20px;
			}
            p {
                span{
                    color: #b3a8a8; 
                }
                a {
                    color: $c-white;
                    transition: all .2s linear;
                    &:hover {
                        color: $c-primary;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .wrapper-form {
        width: 40vw;
        height: 60vh;
    }
} 
@media screen and (max-width: 992px) {
    .wrapper-form {
        width: 80vw;
    }
} 
@media screen and (max-width: 567px) {
    .wrapper-form {
        width: 100vw;
        height: 100vh;
        .box-form {
            width: 90%;
        }
    }    
} 